In [6]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import scipy.stats as stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import OLSInfluence
data_path = "C:\\Users\\nlp\\Desktop\\통계학 수업\\HW11\\data\\"
data = pd.read_csv(data_path + "dengue2.csv")

In [7]:
data.head()

    ID  AGE  SEX  MOSNET  DENGUE  SCREEN  SES  SECTOR
0  501   16    2       0       0       2  2.0       1
1  502   33    1       0       0       1  2.0       1
2  503    1    1       0       0       3  2.0       1
3  504   35    1       0       0       1  2.0       1
4  505    6    1       0       0       1  2.0       1

In [8]:
data.describe()

,ID,AGE,SEX,MOSNET,DENGUE,SCREEN,SES,SECTOR
count,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000
mean,647.168367,25.178571,1.515306,0.035714,0.290816,2.479592,2.174847,3.234694
std,79.434780,18.904721,0.501045,0.186052,0.455302,0.767675,0.388439,1.412770
min,501.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,578.750000,10.750000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000
50%,642.500000,21.000000,2.000000,0.000000,0.000000,3.000000,2.170000,3.000000
75%,719.250000,35.000000,2.000000,0.000000,1.000000,3.000000,2.400000,5.000000
max,784.000000,85.000000,2.000000,1.000000,1.000000,3.000000,3.000000,5.000000

dengue2.csv는 Aedes 모기에 의해 전염되는 뎅기열과 관련된 자료이다. 
-	ID: subject ID
-	DENGUE: Dengue fever status: 1=yes, 0=no
-	AGE in years
-	MOSNET: Use of mosquito netting: 1=yes, 0=no 
-	SECTOR: Geographical sector in which the subject lived: 1,2,3,4, or 5

1. AGE, MOSNET, SECTOR를 사용하여 DENGUE를 예측하는 로지스틱 회귀모형을 적합하고 적합된 로지스틱회귀식을 쓰시오.

In [9]:
# DENGUE = beta_0 + beta_1*AGE + beta_2+MONSET +betat_3*SECTOR

##

In [10]:
# below is wrong
#model = smf.glm("DENGUE~AGE+MOSNET+SECTOR", data=data, family=sm.families.Binomial()).fit()

# all below is right
#model = smf.glm("DENGUE~AGE+C(MOSNET)+C(SECTOR)", data=data, family=sm.families.Binomial()).fit()
model = smf.glm("DENGUE~AGE+MOSNET+C(SECTOR)", data=data, family=sm.families.Binomial()).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 DENGUE   No. Observations:                  196
Model:                            GLM   Df Residuals:                      189
Model Family:                Binomial   Df Model:                            6
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -101.85
Date:                Wed, 16 Dec 2020   Deviance:                       203.71
Time:                        19:06:38   Pearson chi2:                     188.
No. Iterations:                     6
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -3.7866      1.038     -3.648      0.000      -5.821      -1.752
C(SECTOR)[T.2]     1.5612      1.117      1.397      0.162      -0.629       3.751
C(SECTOR)[T.3]     3.0322      1.078      2.812      0.005       0.919       5.146
C(SECTOR)[T.4]     2.7510      1.077      2.553      0.011       0.639       4.863
C(SECTOR)[T.5]     2.2200      1.072      2.070      0.038       0.118       4.322
AGE                0.0243      0.009      2.679      0.007       0.007       0.042
MOSNET            -0.3335      1.272     -0.262      0.793      -2.826       2.159
==================================================================================
"""

2. 각 회귀계수가 유의한지 검정하시오.

In [ ]:
# alpha = 0.05일 때
# 통계적으로 유의하지 않은 계수는 MOSNET, SECTOR(2)

3. 나이와 sector가 동일하다면 모기망을 사용하지 않을 때에 비해 사용할 때 뎅기열에 전염될 odds는 몇 % 감소하는가?

In [15]:
np.exp(-0.33)

0.7189237334319262

In [17]:
(1-np.exp(-0.33))*100

28.107626656807383

In [18]:
model.params

Intercept        -3.786560
C(SECTOR)[T.2]    1.561163
C(SECTOR)[T.3]    3.032164
C(SECTOR)[T.4]    2.750993
C(SECTOR)[T.5]    2.220018
AGE               0.024263
MOSNET           -0.333525
dtype: float64

In [19]:
np.exp(model.params[6])

0.7163938969647302

In [ ]:
# 0.716 배 --> 28.4% 감소

4. 다른 설명변수의 값이 동일하다면 나이가 1살 증가하면 뎅기열에 걸릴 odds가 몇 % 증가하는가? 5살 증가하면 몇 % 증가하는가?

In [20]:
np.exp(model.params[5])

1.0245600606932532

In [ ]:
# 1살 증가시 --> 2.5% 증가

In [21]:
np.exp(model.params[5]*5) # 5를 곱해주는 거 주의

1.128982242891946

In [ ]:
# 5살 증가시 --> 12.9% 증가

5. 다른 설명변수의 값이 동일할 때 가장 뎅기열에 걸릴 위험이 높은 sector는 어디인가? 그곳의 위험은 sector 1에 비해 몇 배 높은가?

In [ ]:
# Sector 3이 제일 위험하다

In [22]:
np.exp(model.params[2])

20.74206010336102

In [ ]:
# Sector 3의 위험은 Sector 1에 비해 20 배 증가

In [ ]:
# 기말 고사 시험 문제 6시에 오픈하고 HTML 파일로 저장을 해서 제출을 하면된다.
###